<select name="category">
    <option selected="selected">All Categories</option>
    <option>Accordion</option>
    <option>Arpegio</option>
    <option>Bass</option>
    <option>Bells</option>
    <option>Brass</option>
    <option>Choir</option>
    <option>Drum</option>
    <option>Flute</option>
    <option>Fx</option>
    <option>Guitar</option>
    <option>Organ</option>
    <option>Pad</option>
    <option>Percussion</option>
    <option>Piano</option>
    <option>Strings</option>
    <option>Synth</option>
    <option>Violin</option>
    <option>Vocal</option>
</select>