<div class="comments">
    <div class="comment">
        <div class="loop_avatar">
            <img src="/avs/{{author_id}}.jpg" alt="avatar">                
        </div>
        <div class="comment_data">
            <a class="nickname" href="profile.php?user_id={{author_id}}">{{author_name}} </a>
            &nbsp{{comment_date}}
            <div class="comment_content">
                <p>
                    {{comment_text}}
                </p>
            </div>
        </div>   
    </div>
</div>