<div id="footer">
    	<div class="social_icons">
    		<ul>
    			<li>
    				<a class="inst_logo" href="https://www.instagram.com/hearted_drews/" target="_blank">
    					<img src="img/instagram.png">
    				</a>
    			</li>
    			<li>
    				<a class="vk_logo" href="https://vk.com/id151726021" target="_blank">
    					<img src="img/vk.png">
    				</a>
    			</li>
    		</ul>
    		<div id="copyright">Copyright © 2020 </div>
    		<a id="about" href="about.php">About</a>
    	</div>
	</div>