<div id="head">
	<div id="headtop">
		<div id="usermenu">
			<a href="mainpage.php">Home</a>
			<a href="myaccount.php">My Account</a>
			<a href="loops_samples.php">Loops&Samples</a>
			<a href="users.php">Users</a>
		</div>
	</div>
	<div id="headbot">
		<a class="logo" href="mainpage.php">
			<img src="img/SoundWave2.png" alt="SoundWave">
			<div id="Juicy">Juicy</div>
			<div id="Loops">Loops</div>
		</a>
		<form action="search.php" id="search">
			<input id="search_text" type="text" placeholder="search">
			<button class="search_button">
				<img src="img/glass.png" alt="glass">
			</button>
		</form>
	</div>
</div>