<div id="head">
	<div id="headtop">
		<div id="usermenu">
			<a href="mainpage.php">Home</a>
			{% if user_id %}
				<a href="profile.php?account_id={{user_id}}">My Account</a>
			{% else %}
				<a href="myaccount.php">My Account</a>
			{% endif %}	
			<a href="loops_samples.php?page_id=1">Loops&Samples</a>
			{% if user_id %}
				<a href="logout.php">Log Out</a>
			{% endif %}					
		</div>
	</div>
	<div id="headbot">
		<a class="logo" href="mainpage.php">
			<img src="img/SoundWave2.png" alt="SoundWave">
			<div id="Juicy">Juicy</div>
			<div id="Loops">Loops</div>
		</a>
		<form action="loops_samples.php" id="search" method="get">
			<input id="search_text" type="text" placeholder="search" name="search">
			<button class="search_button">
				<img src="img/glass.png" alt="glass">
			</button>
		</form>
	</div>
</div>