<form id="loop_cont">
    <div class="loop_cont_header">
        <div class="user_avatar">
            <img src="/img/unknownman.png" alt="avatar">                
        </div>   
        <a class="loop_title" href="mainpage.php">Num_15</a>
        <button type="submit" id="btn_play">Play</button>
    </div>
    <div class="loop_cont_postheader">
        <a class="nickname" href="mainpage.php">Hearty D</a>
        <p>18.05.2020</p>
    </div>
    <div class="loop_cont_mid"></div>
    <div class="loop_cont_bottom">
        <div class="volume_bar"></div>
        <div class="time">
            <div class=current_time>00:00</div>
            /
            <div class=duration_time>00:00</div>
        </div>
        <button type="submit" class="btn_download">Download</button>
    </div>
</form>