<div id="loop_cont">
    <div class="loop_cont_header">
        <div class="loop_avatar">
            <img src="/avs/{{author_id}}.jpg" alt="avatar">                
        </div>   
        <a class="loop_title" href="loop_page.php?loop_id={{id}}">{{loop_name}}</a>
        <a id="btn_play" href="{{wav_file}}" download="">Download</a>
    </div>
    <div class="loop_cont_postheader">
        <a class="nickname" href="profile.php?account_id={{author_id}}">{{author_name}}</a>
        <p class="tags">{{loop_date}}</p>
        <p class="tags">{{category}}</p>
        <p class="tags">{{bpm}} bpm</p>
        <p class="tags">Key: {{key}}</p>
    </div>
    <div class="tags">
        Description: {{description}}
    </div>
</div>