<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/mainpage_styles.css">
        <title>
	    	JuicyLoops
        </title>
    </head>
    <body>
	
    {% include'header.html' %}

    <div class="content">
    	<div class="welcome">
    		<h1 class="home_title">Welcome to JuicyLoops</h1>
    		<h2 class="home_title2">The audio resourse and musicians community</h2>
    		<p>
    			Looking for 
    			<a href="loops_samples">free music loops</a>
    			, want to hook up with like minded musicians from around the world or just looking to get some feedback on your music.
    		</p>
    		<p>
    			Well, you came to the right place. We have 
    			<a href="loops_samples">free loops</a>
    			 and other audio resources to keep you making music.
    		</p>
    	</div>

        {% include'latest_block.html' with {'title':'Latest Loops'} %}

        {% include'latest_block.html' with {'title':'Latest Loops Comments'} %}        
        
    </div>
    
    {% include'footer.html' %}

	</body>
</html>