<form id="sing_form">
    <h3>Existing Musicians</h3>
    <div class="reg">
        <div class="reg_input">
            <div class="in">
                <label>Email Adress</label>
                <div class="input_box">
                    <input type="email" id="username">
                </div>
            </div>
            <div class="in">
                <label>Password</label>
                <div class="input_box">
                    <input type="password" id="password">
                </div>
            </div>
        </div>
        <div class="reg_input">
            <div class="in">
                <label></label>
                <div class="input_box">
                    <button type="submit" id="btn_login">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</form>
