<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/profile_styles.css">
        <title>
	    	JuicyLoops
        </title>
    </head>
    <body>

	{% include'header.html' %}

    <div class="wrapper">
        <div class="menu">
            <a href="profile.php?account_id={{user_id}}">My Profile</a>
            <a href="mysettings.php">My Settigns</a>
            <a href="upload.php">Upload</a>
        </div>
        <h1 class="prof_title">Profile Settings</h1>
        <p>Update and edit your pofile</p>
        <form class="prof_edit">
            <label>Email Adress</label>
            <input type="email" class=edit>
            <label>NickName</label>
            <input type="text" class=edit>
            <button type="submit" class="edit_button">Save Changes</button>
        </form>
    </div>

    {% include'footer.html' %}

	</body>
</html>