<form class="search_for_loops" action="loops_samples_search.php?page_id=1" method="post">
    <div class="search_table">
        <div class="search_cell1">
            <label>By Member</label>
            <input type="search_text" placeholder="name or id" name="member">
        </div>
        <div class="search_cell2">
            <label>Category</label>
            {% include 'category_select.html' %}
        </div>
        <div class="search_cell3">
        <label>BPM</label>
            <input type="search_text" placeholder="from" name="bpm1">
        </div>
        <div class="search_cell4">
            <label></label>
            <input type="search_text" placeholder="to" name="bpm2">
        </div>
        <div class="search_cell5">
            <label>Key</label>
            {% include 'select_key.html'%}
        </div>
        <div class="search_cell6">
            <label>Date</label>
            <select name="date">
                <option selected="selected">Any Date</option>
                <option>Last 24 Hours</option>
                <option>Last 7 days</option>
                <option>Last 30 days</option>
                <option>Last 60 days</option>
            </select>
        </div>
        <div class="search_cell7">
            <label>By KeyWord</label>
            <input type="search_text" placeholder="KeyWord" name="keyword">
        </div>
        <div class="search_cell8">
            <label>Order by</label>
            <select name="orderby">
                <option selected="selected">Date</option>
                <option>Title</option>
                <option>Authot</option>
                <option>Tempo</option>
                <option>Downloads</option>
                <option>Comments</option>
            </select>
        </div>
        <div class="search_cell9">
            <label></label>
            <select name="order">
                <option selected="selected">Desc</option>
                <option>Asc</option>                    
            </select>
        </div>
        <div class="search_cell10">
            <button type="submit" id="search_btn">Find Loops</button>
        </div>
    </div>
</form>
