<form class="search_for_loops">
    <div class="search_table">
        <div class="search_cell1">
            <label>By Member</label>
            <input type="search_text" placeholder="name or id">
        </div>
        <div class="search_cell2">
            <label>Category</label>
            <select>
                <option selected="selected">All Categories</option>
                <option>Accordion</option>
                <option>Arpegio</option>
                <option>Bass</option>
                <option>Bells</option>
                <option>Brass</option>
                <option>Choir</option>
                <option>Drum</option>
                <option>Flute</option>
                <option>Fx</option>
                <option>Guitar</option>
                <option>Organ</option>
                <option>Pad</option>
                <option>Percussion</option>
                <option>Piano</option>
                <option>Strings</option>
                <option>Synth</option>
                <option>Violin</option>
                <option>Vocal</option>
            </select>
        </div>
        <div class="search_cell3">
        <label>BPM</label>
            <input type="search_text" placeholder="from">
        </div>
        <div class="search_cell4">
            <label></label>
            <input type="search_text" placeholder="to">
        </div>
        <div class="search_cell5">
            <label>Key</label>
            <select>
                <option selected="selected">Any key</option>
                <option>A</option>
                <option>A#</option>
                <option>B</option>
                <option>C</option>
                <option>C#</option>
                <option>D</option>
                <option>D#</option>
                <option>E</option>
                <option>F</option>
                <option>F#</option>
                <option>G</option>
                <option>G#</option>
            </select>
        </div>
        <div class="search_cell6">
            <label>Date</label>
            <select>
                <option selected="selected">Any Date</option>
                <option>Last 24 Hours</option>
                <option>Last 7 days</option>
                <option>Last 30 days</option>
                <option>Last 60 days</option>
            </select>
        </div>
        <div class="search_cell7">
            <label>By KeyWord</label>
            <input type="search_text" placeholder="KeyWord">
        </div>
        <div class="search_cell8">
            <label>Order by</label>
            <select>
                <option selected="selected">Date</option>
                <option>Title</option>
                <option>Authot</option>
                <option>Tempo</option>
                <option>Downloads</option>
                <option>Comments</option>
            </select>
        </div>
        <div class="search_cell9">
            <label></label>
            <select>
                <option selected="selected">Desc</option>
                <option>Asc</option>                    
            </select>
        </div>
        <div class="search_cell10">
            <button type="submit" id="search_btn">Find Loops</button>
        </div>
    </div>
</form>
